<!-- Highlight -->
<header class="primary" id="exhibition">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name">{{ site.data.translations['exposicao'][page.lang] }}</span>
          <hr class="star-primary" />
          <span class="skills">{{ site.data.translations['exposicaoDetalhes'][page.lang] }}</span>
        </div>
        <a href="https://visite.cryptoserrao.xyz" target="_blank"><img class="img-responsive" src="{{ site.baseurl }}img/MuseuXYZ.jpg" alt="profile-pic" /></a>
      </div>
    </div>
  </div>
</header>
