<!-- Highlight -->
<header class="secondary" id="exhibition">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name">Exposição</span>
          <hr class="star-primary" />
          <span class="skills">A exposição <strong>online</strong> irá acontecer no <a href="https://museu.xyz" target="_blank">museu.xyz</a> de 13 à 30 de Setembro de 2022. <br> Visite a galeria no metaverso em <a href="https://visite.cryptoserrao.xyz" target="_blank">visite.cryptoserrao.xyz</a>.
         <br><br>
            A exposição <strong>presencial</strong> irá acontecer na sede do Seu Vizinho no Aglomerado da Serra, em Belo Horizonte, nos dias 17 e 18 de Setembro.</a><br><br></span>
        </div>
        <a href="https://visite.cryptoserrao.xyz" target="_blank"><img class="img-responsive" src="img/MuseuXYZ.jpg" alt="profile-pic" /></a>
      </div>
    </div>
  </div>
</header>
