<!-- Workshops -->
<header class="secondary" id="workshops">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name">Oficinas</span>
          <hr class="star-light" />
          <span class="skills">Duas oficinas foram realizadas online, tanto para as pessoas artistas selecionadas quanto para o público em geral: <strong>O mundo Crypto e as Finanças Descentralizadas</strong>, ministrada por Pedro Parrachia e <strong>Indrodução aos NFTs e ao mercado de criptoarte Teia</strong>, ministrado por Kosha. <br><br>
          Essas oficinas foram gravadas e podem ser visualizadas abaixo: <br><br>
          </span>
        </div>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/lclcN29HfLE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/T8E_cPSkEak" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</header>
